html{
  background-color: #f4edd5;
}
body {
  margin: 0;
  font-family: 'Assistant';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4edd5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}